@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* COLOCAR BOTÃO (RESET) */
/* COLOCAR TEMPORIZADOR */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #16a085;
}

div.container{
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

div.box {
  background-color: aqua;
  max-width: 450px;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
}

div ul {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  list-style: none;
}

li {
  background-color: blue;
  border-radius: 10px;
  border: 3px solid black;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

div.settings {
  display: flex;
  max-width: 450px;
  width: 100%;
  justify-content: space-around;
}

a {
  cursor:pointer;
  display: block;
  font-size: 16pt;
  text-decoration: none;
  color: black;
}

h5 {
  font-size: 16pt;
}

.a0.ver {
  background-color:steelblue ;
}

.a1.ver {
  background-color:white ;
}

.a2.ver {
  background-color:red ;
}

.a3.ver {
  background-color:black ;
}

.a4.ver {
  background-color:violet ;
}

.a5.ver {
  background-color:saddlebrown ;
}

.a6.ver {
  background-color:yellow ;
}

.a7.ver {
  background-color:green ;
}


